In [1]:
%load_ext sql

In [2]:
%%sql postgresql://postgres:postgres@localhost:5432/graduation

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'GBK'; 
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

Done.
Done.
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
drop table if exists orders;
create table orders
(id int, departure_datetime timestamp, departure_weekday int, departure_lon float, departure_lat float, arrival_datetime timestamp, arrival_weekday int, arrival_lon float, arrival_lat float, duration float, distance float);
copy orders(id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance) from 'D:\\aMyFile\\Data\\Takeout\\MyData\\mine\\OD\\deliver_OD.csv' 
with(format csv, delimiter ',', header true)

UsageError: Cell magic `%%sql` not found.

In [4]:
%%sql 
select AddGeometryColumn('orders', 'departure_geom', 4326, 'POINT', 2);
update orders set departure_geom = ST_SetSRID(ST_MakePoint(departure_lon, departure_lat), 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.
8159710 rows affected.

[]

In [5]:
%%sql 
select AddGeometryColumn('orders', 'arrival_geom', 4326, 'POINT', 2);
update orders set arrival_geom = ST_SetSRID(ST_MakePoint(arrival_lon, arrival_lat), 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.
8159710 rows affected.

[]

In [6]:
%sql update study_area set geom = ST_SetSRID(geom, 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.

[]

In [7]:
%%sql
copy
(select id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance
from orders
where ST_Intersects(departure_geom, (select geom from study_area))=True)
to 'D:\aMyFile\Data\Takeout\MyData\mine\OD\center_deliver_OD.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
6104862 rows affected.

[]

In [8]:
%%sql
drop table if exists final_orders;
create table final_orders
(id int, departure_datetime timestamp, departure_weekday int, departure_lon float, departure_lat float, arrival_datetime timestamp, arrival_weekday int, arrival_lon float, arrival_lat float, duration float, distance float);
copy final_orders(id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance) from 'D:\\aMyFile\\Data\\Takeout\\MyData\\mine\\OD\\final_data.csv' 
with(format csv, delimiter ',', header true)

 * postgresql://postgres:***@localhost:5432/graduation
Done.
Done.
6097620 rows affected.

[]

In [9]:
%%sql 
select AddGeometryColumn('final_orders', 'departure_geom', 4326, 'POINT', 2);
update final_orders set departure_geom = ST_SetSRID(ST_MakePoint(departure_lon, departure_lat), 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.
6097620 rows affected.

[]

In [10]:
%%sql 
select AddGeometryColumn('final_orders', 'arrival_geom', 4326, 'POINT', 2);
update final_orders set arrival_geom = ST_SetSRID(ST_MakePoint(arrival_lon, arrival_lat), 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.
6097620 rows affected.

[]

In [11]:
%%sql
copy
(select id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance
from final_orders
where ST_Intersects(departure_geom, (select geom from study_area))=True)							   							   
to 'D:\aMyFile\Data\Takeout\MyData\mine\OD\origin_final_data.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
6097620 rows affected.

[]

In [12]:
%%sql
copy
(select id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance
from final_orders
where ST_Intersects(arrival_geom, (select geom from study_area))=True)
to 'D:\aMyFile\Data\Takeout\MyData\mine\OD\destination_final_data.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
5950324 rows affected.

[]

In [4]:
%%sql
drop table if exists poi;
create table poi
(id int, kind int, display_x float, display_y float);
copy poi(id, kind, display_x, display_y) from 'D:\\aMyFile\\Data\\Takeout\\MyData\\mine\\analysis\\poi\\simple_poi.csv' 
with(format csv, delimiter ',', header true)

 * postgresql://postgres:***@localhost:5432/graduation
Done.
Done.
142173 rows affected.

[]

In [5]:
%%sql 
select AddGeometryColumn('poi', 'geom', 4326, 'POINT', 2);
update poi set geom = ST_SetSRID(ST_MakePoint(display_x, display_y), 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.
142173 rows affected.

[]

## landuse

In [9]:
%sql update grid_d2_dissolve set geom = ST_SetSRID(geom, 4326);

 * postgresql://postgres:***@localhost:5432/graduation
2 rows affected.

[]

In [4]:
%sql update true_landuse set geom = ST_SetSRID(geom, 4326);

 * postgresql://postgres:***@localhost:5432/graduation
6 rows affected.

[]

In [11]:
%%sql
copy
(select ST_Area(ST_Transform(ST_Intersection(ST_MakeValid(od.geom), ST_MakeValid(dl.geom)), 4527)), kclass, dl.type
from grid_d2_dissolve od, true_landuse dl) 
to 'D:\aMyFile\Data\Takeout\MyData\mine\analysis\landuse\grid\true_landuse_destination2.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
12 rows affected.

[]

## TAZ

In [3]:
%sql update taz set geom = ST_SetSRID(geom, 4326)

 * postgresql://postgres:***@localhost:5432/graduation
510 rows affected.

[]

In [4]:
%%sql
copy
(select id, area
from taz)
to 'D:\aMyFile\Data\Takeout\MyData\mine\taz_area.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
510 rows affected.

[]