In [1]:
%load_ext sql

In [2]:
%%sql postgresql://postgres:postgres@localhost:5432/graduation

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'GBK'; 
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

Done.
Done.
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
drop table if exists orders;
create table orders
(id int, departure_datetime timestamp, departure_weekday int, departure_lon float, departure_lat float, arrival_datetime timestamp, arrival_weekday int, arrival_lon float, arrival_lat float, duration float, distance float);
copy orders(id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance) from 'D:\\aMyFile\\Data\\Takeout\\MyData\\mine\\OD\\deliver_OD.csv' 
with(format csv, delimiter ',', header true)

UsageError: Cell magic `%%sql` not found.

In [4]:
%%sql 
select AddGeometryColumn('orders', 'departure_geom', 4326, 'POINT', 2);
update orders set departure_geom = ST_SetSRID(ST_MakePoint(departure_lon, departure_lat), 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.
8159710 rows affected.

[]

In [5]:
%%sql 
select AddGeometryColumn('orders', 'arrival_geom', 4326, 'POINT', 2);
update orders set arrival_geom = ST_SetSRID(ST_MakePoint(arrival_lon, arrival_lat), 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.
8159710 rows affected.

[]

In [6]:
%sql update study_area set geom = ST_SetSRID(geom, 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.

[]

In [7]:
%%sql
copy
(select id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance
from orders
where ST_Intersects(departure_geom, (select geom from study_area))=True)
to 'D:\aMyFile\Data\Takeout\MyData\mine\OD\center_deliver_OD.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
6104862 rows affected.

[]

In [8]:
%%sql
drop table if exists final_orders;
create table final_orders
(id int, departure_datetime timestamp, departure_weekday int, departure_lon float, departure_lat float, arrival_datetime timestamp, arrival_weekday int, arrival_lon float, arrival_lat float, duration float, distance float);
copy final_orders(id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance) from 'D:\\aMyFile\\Data\\Takeout\\MyData\\mine\\OD\\final_data.csv' 
with(format csv, delimiter ',', header true)

 * postgresql://postgres:***@localhost:5432/graduation
Done.
Done.
6097620 rows affected.

[]

In [9]:
%%sql 
select AddGeometryColumn('final_orders', 'departure_geom', 4326, 'POINT', 2);
update final_orders set departure_geom = ST_SetSRID(ST_MakePoint(departure_lon, departure_lat), 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.
6097620 rows affected.

[]

In [10]:
%%sql 
select AddGeometryColumn('final_orders', 'arrival_geom', 4326, 'POINT', 2);
update final_orders set arrival_geom = ST_SetSRID(ST_MakePoint(arrival_lon, arrival_lat), 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.
6097620 rows affected.

[]

In [11]:
%%sql
copy
(select id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance
from final_orders
where ST_Intersects(departure_geom, (select geom from study_area))=True)							   							   
to 'D:\aMyFile\Data\Takeout\MyData\mine\OD\origin_final_data.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
6097620 rows affected.

[]

In [12]:
%%sql
copy
(select id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance
from final_orders
where ST_Intersects(arrival_geom, (select geom from study_area))=True)
to 'D:\aMyFile\Data\Takeout\MyData\mine\OD\destination_final_data.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
5950324 rows affected.

[]

In [4]:
%%sql
drop table if exists poi;
create table poi
(id int, kind int, display_x float, display_y float);
copy poi(id, kind, display_x, display_y) from 'D:\\aMyFile\\Data\\Takeout\\MyData\\mine\\analysis\\poi\\simple_poi.csv' 
with(format csv, delimiter ',', header true)

 * postgresql://postgres:***@localhost:5432/graduation
Done.
Done.
142173 rows affected.

[]

In [5]:
%%sql 
select AddGeometryColumn('poi', 'geom', 4326, 'POINT', 2);
update poi set geom = ST_SetSRID(ST_MakePoint(display_x, display_y), 4326)

 * postgresql://postgres:***@localhost:5432/graduation
1 rows affected.
142173 rows affected.

[]

## landuse

In [9]:
%sql update grid_d2_dissolve set geom = ST_SetSRID(geom, 4326);

 * postgresql://postgres:***@localhost:5432/graduation
2 rows affected.

[]

In [4]:
%sql update true_landuse set geom = ST_SetSRID(geom, 4326);

 * postgresql://postgres:***@localhost:5432/graduation
6 rows affected.

[]

In [11]:
%%sql
copy
(select ST_Area(ST_Transform(ST_Intersection(ST_MakeValid(od.geom), ST_MakeValid(dl.geom)), 4527)), kclass, dl.type
from grid_d2_dissolve od, true_landuse dl) 
to 'D:\aMyFile\Data\Takeout\MyData\mine\analysis\landuse\grid\true_landuse_destination2.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
12 rows affected.

[]

In [11]:
%%sql
copy
(select ST_Area(ST_Transform(ST_Intersection(ST_MakeValid(od.geom), ST_MakeValid(dl.geom)), 4527)), kclass, dl.landuse
from grid_d3_dissolve od, landuse_picture dl) 
to 'D:\aMyFile\Data\Takeout\MyData\mine\analysis\landuse\grid\landuse_destination3.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
21 rows affected.

[]

In [ ]:
%%sql
copy
(select ST_Area(ST_Transform(ST_Intersection(ST_MakeValid(taz.geom), ST_MakeValid(dl.geom)), 4527)), taz.id as taz_id, dl.type
from taz, true_landuse dl) 
to 'D:\aMyFile\Data\Takeout\MyData\mine\analysis\landuse\taz_landuse.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation

## TAZ

In [3]:
%sql update taz set geom = ST_SetSRID(geom, 4326)

 * postgresql://postgres:***@localhost:5432/graduation
510 rows affected.

[]

In [4]:
%%sql
copy
(select id, area
from taz)
to 'D:\aMyFile\Data\Takeout\MyData\mine\taz_area.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
510 rows affected.

[]

In [5]:
%%sql
copy
(select final_orders.id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance, taz.id as arrival_tazid
from final_orders, taz
where ST_Contains(taz.geom, arrival_geom)=True)
to 'D:\aMyFile\Data\Takeout\MyData\mine\OD\taz_final_destination_data.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
5947518 rows affected.

[]

In [6]:
%%sql
copy
(select final_orders.id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance, taz.id as departure_tazid
from final_orders, taz
where ST_Contains(taz.geom, departure_geom)=True)
to 'D:\aMyFile\Data\Takeout\MyData\mine\OD\taz_final_origin_data.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
6097587 rows affected.

[]

In [6]:
%%sql
copy
(select poi.id, poi.kind, poi.display_x, poi.display_y, taz.id as tazid
from poi, taz
where ST_Contains(taz.geom, poi.geom)=True)
to 'D:\aMyFile\Data\Takeout\MyData\mine\analysis\poi\taz_poi.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation
142079 rows affected.

[]

## Shannon

In [ ]:
%%sql
copy
(select ST_Area(ST_Transform(ST_Intersection(ST_MakeValid(tz.geom), ST_MakeValid(gr.geom)), 4527)), tz.id, gr.kclass
from taz_od2 tz, grid_d2_dissolve gr) 
to 'D:\aMyFile\Data\Takeout\MyData\mine\analysis\shannon\taz_od2_grid_d2.csv' with csv header

 * postgresql://postgres:***@localhost:5432/graduation

# 科研实践

In [4]:
%%sql
create table orders84
(id int, departure_datetime timestamp, departure_weekday int, departure_lon float, departure_lat float, arrival_datetime timestamp, arrival_weekday int, arrival_lon float, arrival_lat float, duration float, distance float);
copy orders(id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance) from 'D:\\aMyFile\\Data\\Takeout\\MyData\\to84\\OD\\deliver_OD.csv' 
with(format csv, delimiter ',', header true)

 * postgresql://postgres:***@localhost:5432/takeout
Done.
8989440 rows affected.

[]

In [ ]:
%%sql 
update orders set departure_geom = ST_SetSRID(ST_MakePoint(departure_lon, departure_lat), 4326);
update orders set arrival_geom = ST_SetSRID(ST_MakePoint(arrival_lon, arrival_lat), 4326)

 * postgresql://postgres:***@localhost:5432/takeout
24830830 rows affected.

In [4]:
%%sql
copy
(select id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance
from orders84
where ST_Intersects(departure_geom, (select geom from study_area))=True
or ST_Intersects(arrival_geom, (select geom from study_area))=True) 
to 'D:\aMyFile\Data\Takeout\MyData\to84\OD\area_deliver_OD.csv' with csv header

 * postgresql://postgres:***@localhost:5432/takeout
6821635 rows affected.

[]

In [5]:
%%sql
drop table if exists final_orders84;
create table final_orders84
(id int, departure_datetime timestamp, departure_weekday int, departure_lon float, departure_lat float, arrival_datetime timestamp, arrival_weekday int, arrival_lon float, arrival_lat float, duration float, distance float);
copy final_orders84(id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance) from 'D:\\aMyFile\\Data\\Takeout\\MyData\\to84\\OD\\final_data.csv' 
with(format csv, delimiter ',', header true)

 * postgresql://postgres:***@localhost:5432/takeout
Done.
Done.
6813475 rows affected.

[]

In [6]:
%%sql 
select AddGeometryColumn('final_orders84', 'departure_geom', 4326, 'POINT', 2);
update final_orders84 set departure_geom = ST_SetSRID(ST_MakePoint(departure_lon, departure_lat), 4326)

 * postgresql://postgres:***@localhost:5432/takeout
1 rows affected.
6813475 rows affected.

[]

In [7]:
%%sql 
select AddGeometryColumn('final_orders84', 'arrival_geom', 4326, 'POINT', 2);
update final_orders84 set arrival_geom = ST_SetSRID(ST_MakePoint(arrival_lon, arrival_lat), 4326)

 * postgresql://postgres:***@localhost:5432/takeout
1 rows affected.
6813475 rows affected.

[]

In [8]:
%%sql
copy
(select id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance
from final_orders84
where ST_Intersects(departure_geom, (select geom from study_area))=True) 
to 'D:\aMyFile\Data\Takeout\MyData\to84\OD\final_origin_data.csv' with csv header

 * postgresql://postgres:***@localhost:5432/takeout
6690620 rows affected.

[]

In [9]:
%%sql
copy
(select id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance
from final_orders84
where ST_Intersects(arrival_geom, (select geom from study_area))=True) 
to 'D:\aMyFile\Data\Takeout\MyData\to84\OD\final_destination_data.csv' with csv header

 * postgresql://postgres:***@localhost:5432/takeout
6581392 rows affected.

[]

In [5]:
%%sql 
update etn_od6_dissolved set geom = ST_SetSRID(geom, 4326);

 * postgresql://postgres:***@localhost:5432/takeout
6 rows affected.

[]

In [21]:
query = """
select gid, gid as name, geom
from landuse_
"""
result = %sql $query

display([result], "map0", 6)

 * postgresql://postgres:***@localhost:5432/takeout
6 rows affected.

In [6]:
%%sql
copy
(select ST_Area(ST_Transform(ST_Intersection(ST_MakeValid(od.geom), ST_MakeValid(dl.geom)), 4527)), kclass, dl.type
from etn_od3_dissolved od, landuse dl) 
to 'D:\aMyFile\Data\Takeout\MyData\to84\analysis\erase_total_normalized\landuse\od3_landuse.csv' with csv header

 * postgresql://postgres:***@localhost:5432/takeout
18 rows affected.

[]

In [8]:
%%sql
copy
(select ST_Area(ST_Transform(ST_Intersection(ST_MakeValid(od.geom), ST_MakeValid(dl.geom)), 4527)), kclass, dl.type
from etn_od6_dissolved od, landuse dl) 
to 'D:\aMyFile\Data\Takeout\MyData\to84\analysis\erase_total_normalized\landuse\od6_landuse.csv' with csv header

 * postgresql://postgres:***@localhost:5432/takeout
36 rows affected.

[]

In [7]:
%%sql
copy
(select ST_Area(ST_Transform(ST_Intersection(ST_MakeValid(od.geom), ST_MakeValid(dl.geom)), 4527)), kclass, dl.type
from etn_od8_dissolved od, landuse dl) 
to 'D:\aMyFile\Data\Takeout\MyData\to84\analysis\erase_total_normalized\landuse\od8_landuse.csv' with csv header

 * postgresql://postgres:***@localhost:5432/takeout
48 rows affected.

[]

## TAZ

In [12]:
%%sql 
update poi set geom = ST_SetSRID(geom, 4326);

 * postgresql://postgres:***@localhost:5432/takeout
137128 rows affected.

[]

In [10]:
%%sql
copy
(select final_orders84.id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance, taz.id as departure_tazid
from final_orders84, taz
where ST_Intersects(departure_geom, taz.geom)=True)
to 'D:\aMyFile\Data\Takeout\MyData\to84_taz\OD\final_origin_data.csv' with csv header

 * postgresql://postgres:***@localhost:5432/takeout
6690620 rows affected.

[]

In [11]:
%%sql
copy
(select final_orders84.id, departure_datetime, departure_weekday, departure_lon, departure_lat, arrival_datetime, arrival_weekday, arrival_lon, arrival_lat, duration, distance, taz.id as arrival_tazid
from final_orders84, taz
where ST_Intersects(arrival_geom, taz.geom)=True)
to 'D:\aMyFile\Data\Takeout\MyData\to84_taz\OD\final_destination_data.csv' with csv header

 * postgresql://postgres:***@localhost:5432/takeout
6581392 rows affected.

[]

In [13]:
%%sql
copy
(select poi.*, taz.id as tazid
from poi, taz
where ST_Intersects(poi.geom, taz.geom)=True)
to 'D:\aMyFile\Data\Takeout\MyData\to84_taz\poi_taz.csv' with csv header

 * postgresql://postgres:***@localhost:5432/takeout
137128 rows affected.

[]

In [ ]:
%%sql
copy
(select ST_Area(ST_Transform(ST_Intersection(ST_MakeValid(od.geom), ST_MakeValid(taz.geom)), 4527)), kclass, dl.dlmc
from od12_dissolve od, taz)  
to 'D:\aMyFile\Data\Takeout\MyData\to84\analysis\landuse\d7_landuse.csv' with csv header